- content_for :header_title, t("authentication.resend_confirmation_instructions")

= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f|
  = devise_error_messages!

  .form-field
    = f.label :email
    = f.email_field :email, :autofocus => true, :class => 'span8'
  = f.submit "Resend confirmation instructions", :class => 'btn btn-primary'
= render "devise/shared/links"
