- remote ||= false
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :remote => remote, :format => :json, :html => { :id => "register_user", 'data-remote-error-message' => t('errors.server_error') }) do |f|
  .form-errors.registration_form_errors
    - if resource.errors.any?
      = render 'devise/registrations/form_errors'

  .form-field
    = f.label :email
    = f.email_field :email, :autofocus => true, :class => 'span8'
  .form-field
    = f.label :password
    = f.password_field :password, :autocomplete => "off", :class => 'span8'
  .form-field
    = f.label :password_confirmation
    = f.password_field :password_confirmation, :class => 'span8'
  .form-field
    = f.label :agreed_to_terms do
      = f.check_box :agreed_to_terms
      = t('authentication.agreed_to_terms', terms_link: link_to(t('authentication.terms'), terms_page_path)).html_safe

  = f.check_box :inhuman, :style => "display: none;", :value => 0
  = f.submit t("authentication.sign_up"), :class => 'btn btn-primary'
