- @title = "Edit your profile"

= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!
  %div
    = f.label :first_name
 
    = f.text_field :first_name, :class => 'span8'
  %div
    = f.label :last_name
    = f.text_field :last_name, :class => 'span8'
  %div
    = f.label :email
    = f.email_field :email, :autofocus => true, :class => 'span8'
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %div
      Currently waiting confirmation for: #{resource.unconfirmed_email}
  %div
    = f.label :current_password
    %i (we need your current password to confirm your changes)
    = f.password_field :current_password, :class => 'span8'
  %div
    = f.label :password
    %i (leave blank if you don't want to change it)
    = f.password_field :password, :autocomplete => "off", :class => 'span8'
  %div
    = f.label :password_confirmation
    = f.password_field :password_confirmation, :class => 'span8'
  
  %div= f.submit "Update my profile" , :class => 'btn btn-primary'
