- content_for :header_title, t("authentication.edit_profile")

= form_for(resource, :as => resource_name, :url => user_registration_path, :html => { :method => :put }) do |f|
  = devise_error_messages!

  .form-field
    = f.label :first_name
    = f.text_field :first_name, :class => 'span8'
  .form-field
    = f.label :last_name
    = f.text_field :last_name, :class => 'span8'
  .form-field
    = f.label :email
    = f.email_field :email, :autofocus => true, :class => 'span8'
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %div
      Currently waiting confirmation for: #{resource.unconfirmed_email}
  .form-field
    = f.label :current_password
    %i= t("authentication.current_password_info")
    = f.password_field :current_password, :class => 'span8'
  .form-field
    = f.label :password
    %i= t("authentication.new_password_info")
    = f.password_field :password, :autocomplete => "off", :class => 'span8'
  .form-field
    = f.label :password_confirmation
    = f.password_field :password_confirmation, :class => 'span8'
  .form-field
    = f.label :default_jurisdiction
    = f.select(:default_jurisdiction, jurisdiction_options_for_select(resource.default_jurisdiction))

  = f.submit t("authentication.update_profile"), :class => 'btn btn-primary'

.well
  = form_for(resource, :as => resource_name, :url => '') do |f|
    %h2 API
    .form-field
      = f.label :authentication_token
      = f.text_field :authentication_token, class: 'span8', data: {content: :highlight}

  - if campaigns > 0
    = link_to 'View API certification campaigns', campaigns_path
