- content_for :header_title, t("authentication.sign_up")

= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!

  .form-field
    = f.label :email
    = f.email_field :email, :autofocus => true, :class => 'span8'
  .form-field
    = f.label :password
    = f.password_field :password, :autocomplete => "off", :class => 'span8'
  .form-field
    = f.label :password_confirmation
    = f.password_field :password_confirmation, :class => 'span8'

  = f.submit t("authentication.sign_up"), :class => 'btn btn-primary'

= render "devise/shared/links"
