- is_primary = response_set_counter == 0
- certificate = response_set.certificate
.response-set{class: "response-set-#{response_set.aasm_state} response-set-#{is_primary ? 'primary' : 'secondary'}"}
  .row-fluid
    .span3
      %h3= t('dashboard.level_attained')

      - if certificate.attained_level == 'none'
        .level-badge{class: "level-badge-none"}
      - else
        .level-badge

      %p= t "levels.#{certificate.attained_level}.title"

    .span3
      %h3= t('dashboard.current_status')

      %i.status-badge{class: "status-badge-#{response_set.aasm_state}"}

      %p= t("dashboard.states.#{response_set.aasm_state}", days: certificate.days_to_expiry)

      - unless certificate.expiring_state.nil?
        %p.expiring-state
          %i.icon-exclamation-sign{class: certificate.expiring_state}
          = t("dashboard.expiring_states.#{certificate.expiring_state}", count: certificate.days_to_expiry)

      %p.jurisdiction
        %span.badge.popdown{data: {content: t('dashboard.popover.about_jurisdiction', {jurisdiction:response_set.jurisdiction})}}= response_set.jurisdiction


    .span3
      %h3= t('dashboard.your_certificate')
      .btn-group.btn-group-vertical
        -if response_set.draft? && certificate.expiring_state.nil?
          = link_to [:publish, response_set], method: :post, data: {code: response_set.access_code}, class: 'btn btn-large btn-block publish-certificate' do
            = t('dashboard.publish_certificate')

        -if !certificate.expiring_state.nil? && response_set.published?
          = link_to 'Update certificate', continue_my_survey_path(response_set_code: response_set.access_code, update: true), class: 'btn btn-large btn-block'

        - if response_set.published?
          = link_to(t('dashboard.view_certificate'), dataset_latest_certificate_path(response_set.dataset), class: 'btn btn-large btn-block')
          = link_to(t("dashboard.embed"), "#embed-#{certificate.id}", 'data-toggle' => :modal, class: 'btn btn-large btn-block')
        - else
          = link_to(t('dashboard.view_certificate'), [response_set.dataset, certificate], class: 'btn btn-large btn-block')

      - if response_set.published?
        =render :partial => 'shared/embed_code', :locals => {:certificate => certificate}

    .span3.edit-jurisdiction
      %h3= t('dashboard.your_answers')
      -if is_primary
        %p= button_to(t('certificate.edit_questionnaire'), continue_path(response_set), method: 'post', class: 'btn btn-large btn-info btn-block edit_questionaire')
        %p= link_to(t('response_set.choose_a_jurisdiction'), "#switch-#{response_set.id}", data: {toggle: :modal, content: t('dashboard.popover.change_jurisdiction') }, class: 'popdown')

        =render :partial => 'shared/switch_jurisdiction', locals: {response_set: response_set}

  .row-fluid.baseline
    .span3
      = link_to t('dashboard.improvements_link'), improvements_dataset_certificate_path(response_set.dataset, certificate)
    .span3
      = t 'dashboard.last_updated_at', time_span: time_ago_in_words(response_set.updated_at)
    .span3
      = "#{t('dashboard.verification')}: #{t(certificate.certification_type, scope: 'certificate.certification_types')}"
    .span3
      = link_to(t('improvements.delete_button'), response_set, {:method => :delete, :confirm => t('dashboard.confirm_deletion'), data: {confirm_title: t('dashboard.confirm_deletion_dialog_title'), confirm_cancel: t('dashboard.confirm_cancel_button'), confirm_proceed: t('dashboard.confirm_delete_button')}, class: 'delete'})
