- is_primary = response_set == primary
.response-set{class: "response-set-#{response_set.aasm_state} response-set-#{is_primary ? 'primary' : 'secondary'}"}
  .row-fluid
    .span3
      %h3= t('dashboard.level_attained')

      - cache ['dash/attained_level', response_set] do
        .level-badge{class: "level-badge-#{response_set.attained_level}"}

        %p= t "levels.#{response_set.attained_level}.title"

    .span3
      %h3= t('dashboard.current_status')

      %i.status-badge{class: "status-badge-#{response_set.aasm_state}"}

      %p= t("dashboard.states.#{response_set.aasm_state}", days: response_set.certificate.days_to_expiry)

      - unless response_set.certificate.expiring_state.nil?
        %p.expiring-state
          %i.icon-exclamation-sign{class: response_set.certificate.expiring_state}
          = t("dashboard.expiring_states.#{response_set.certificate.expiring_state}", days: response_set.certificate.days_to_expiry)

      %p.jurisdiction
        %span.badge.popdown{data: {content: t('dashboard.popover.about_jurisdiction', {jurisdiction:response_set.jurisdiction})}}= response_set.jurisdiction


    .span3
      %h3 Your certificate
      .btn-group.btn-group-vertical
        -if response_set.draft? && response_set.certificate.expiring_state.nil?
          = link_to [surveyor, :publish, response_set], method: :post, class: 'btn btn-large btn-block' do
            Publish certificate

        -if !response_set.certificate.expiring_state.nil? && response_set.published?
          = link_to 'Update certificate', surveyor.continue_my_survey_path(survey_code: response_set.survey.access_code, response_set_code: response_set.access_code, update: true), class: 'btn btn-large btn-block'

        = link_to "View certificate", [response_set.dataset, response_set.certificate], class: 'btn btn-large btn-block'
        - unless response_set.archived? || response_set.draft?
          = link_to(t("dashboard.embed"), "#embed-#{response_set.certificate.id}", 'data-toggle' => :modal, class: 'btn btn-large btn-block')

      - unless response_set.archived? || response_set.draft?
        =render :partial => 'shared/embed_code', :locals => {:certificate => response_set.certificate}

    .span3.edit-jurisdiction
      %h3 Your answers
      -if is_primary
        %p
          = link_to 'Edit Questionnaire', continue_path(response_set), class: 'btn btn-large btn-info btn-block edit_questionaire'
        %p
          = link_to 'Change Jurisdiction', "#switch-#{response_set.id}", data: {toggle: :modal, content: t('dashboard.popover.change_jurisdiction') }, class: 'popdown'

        =render :partial => 'shared/switch_jurisdiction', locals: {response_set: response_set}

  .row-fluid.baseline
    .span3
      %p
      %small
        = link_to t('dashboard.improvements_link'), improvements_dataset_certificate_path(response_set.dataset, response_set.certificate)
    .span3
      %p
      %small
        = t 'dashboard.last_updated_at', time_span: time_ago_in_words(response_set.updated_at)
    .span3
      %p
      %small= "#{t('dashboard.verification')}: #{t(response_set.certificate.certification_type, scope: 'certificate.certification_types')}"
    .span3
      = link_to [surveyor, response_set], {:method => :delete, :confirm => t('dashboard.confirm_deletion'), data: {confirm_title: t('dashboard.confirm_deletion_dialog_title')}} do
        %p
        %small.delete
          Delete
