.response-set{class: "response-set-#{response_set.aasm_state} response-set-#{response_set == primary ? 'primary' : 'secondry'}"}
  .row-fluid
    .span3
      %h3= t('dashboard.level_attained')

      .level-badge{class: "level-badge-#{response_set.attained_level}"}
        =response_set.attained_level
      
    .span3
      %h3= t('dashboard.current_status')

      %i.status-badge{class: "status-badge-#{response_set.aasm_state}"}
      
      %p= response_set.aasm_state

      
    .span3
      %h3 What can I do next?
      %ul.unstyled
        -if response_set.draft?
          %li
            = link_to [surveyor, :publish, response_set], method: :post, class: 'btn btn-large btn-block' do
              Publish Certificate
        %li
          = link_to "View certificate", response_set.certificate, class: 'btn btn-large btn-block'
        %li
          - unless response_set.archived?
            = link_to(t("dashboard.embed"), "#embed-#{response_set.certificate.id}", 'data-toggle' => :modal, class: 'btn btn-large btn-block')
            =render :partial => 'shared/embed_code', :locals => {:certificate => response_set.certificate}

    .span3
      %h3 Needs a title
      %ul.unstyled
        - unless response_set.archived?
          %li
            = link_to 'Edit Questionnaire', continue_path(response_set), class: 'btn btn-large btn-info btn-block'
         
  .row-fluid.secondary
    .span3
      %p
      %small
        = link_to t('dashboard.improvements_link'), requirements_path(response_set)
    .span3
      %p
      %small
        = time_ago_in_words response_set.updated_at
        ago
    .span3
    .span3
      = link_to [surveyor, response_set], {:method => :delete, :confirm => t('dashboard.confirm_deletion')} do
        %p
        %small.delete
          Delete