%section
  %p.lead
    =t :questionnaire_header
  #main-help-accordion.accordion
    .accordion-group
      .accordion-heading
        %a.accordion-toggle{"data-parent" => "#main-help-accordion", "data-toggle" => "collapse", :href => "#main-help"}
          = t :help
      #main-help.accordion-body.collapse.in
        .accordion-inner
          .row-fluid
            .span6
              %p Questions marked with a label must be answered to gain that level of the certificate.
            .span6
              %p
                Click on question marks
                %i.icon-question-sign
                or labels to findout more about what to enter.
          .row-fluid
            .span12.improvements
              .improvement
                %span.improvement-label
                  %span.label.label-info
                    %i.icon-star.icon-white
                    = t 'levels.basic.title'
                %span.improvement-desc
                  = t 'levels.basic.description'
              .improvement
                %span.improvement-label
                  %span.label.label-pilot
                    %i.icon-star.icon-white
                    = t 'levels.pilot.title'
                %span.improvement-desc
                  = t 'levels.pilot.description'
              .improvement
                %span.improvement-label
                  %span.label.label-standard
                    %i.icon-star.icon-white
                    = t 'levels.standard.title'
                %span.improvement-desc
                  = t 'levels.standard.description'
              .improvement
                %span.improvement-label
                  %span.label.label-exemplar
                    %i.icon-star.icon-white
                    = t 'levels.exemplar.title'
                %span.improvement-desc
                  = t 'levels.exemplar.description'
