- content_for :header_title, @title

%section
  = form_tag datasets_path, method: 'get' do
    %div.form-search.input-append
      = text_field_tag :search, params[:search], class: 'typeahead-search'
      = submit_tag t('certificates.search.submit_search'), :class => 'btn'

- if @datasets.any?

  %hr.heavy
  = render partial: 'dataset_min', collection: @datasets
  = paginate @datasets

- else
  %p= t('certificates.no_certificates_found')

- content_for :rss_feed do
  = datasets_path(format: 'feed')
