- content_for :header_title, @title

- content_for :rss_feed do
  = datasets_path(format: 'feed')

%section
  %p.rss-top.pull-right
    %i.icon.icon-rss-sign
    %a{href: yield(:rss_feed)} Subscribe to the RSS feed
  

  = form_tag datasets_path, method: 'get' do
    %div.form-search.input-append
      = text_field_tag :search, params[:search], class: 'typeahead-search'
      = submit_tag t('certificates.search.submit_search'), :class => 'btn'

- if @datasets.any?

  %hr.heavy
  = render partial: 'dataset_min', collection: @datasets
  = paginate @datasets

- else
  %p= t('certificates.no_certificates_found')
