%section
  %p.lead
    All open data is good, but some is better than others. This tool gives you a certificate
    that will help people understand the open data you are publishing.
  #main-help-accordion.accordion
    .accordion-group
      .accordion-heading
        %a.accordion-toggle{"data-parent" => "#main-help-accordion", "data-toggle" => "collapse", :href => "#main-help"} Help
      #main-help.accordion-body.collapse.in
        .accordion-inner
          .row-fluid
            .span6
              %p Questions marked with a label must be answered to gain that level of the certificate.
            .span6
              %p
                Click on question marks
                %i.icon-question-sign
                or labels to findout more about what to enter.
          .row-fluid
            .span12.improvements
              .improvement
                %span.improvement-label
                  %span.label.label-info
                    %i.icon-star.icon-white
                    Basic
                %span.improvement-desc This data satisfies the fundamental requirements for open data.
              .improvement
                %span.improvement-label
                  %span.label.label-pilot
                    %i.icon-star.icon-white
                    Pilot
                %span.improvement-desc
                  This data satisfies the requirements for initial forays into publishing open data.
                  It provides sufficient support to prompt some reuser experimentation with a data.
              .improvement
                %span.improvement-label
                  %span.label.label-standard
                    %i.icon-star.icon-white
                    Standard
                %span{:clas => "improvement-desc"}
                  This data satisfies the requirements for routinely published open data that encourages
                  reuse.
              .improvement
                %span.improvement-label
                  %span.label.label-exemplar
                    %i.icon-star.icon-white
                    Exemplar
                %span{:clas => "improvement-desc"} This data satisfies the requirements for key information infrastructure.


%section
  %h1 Dataset#new

  = form_for @dataset, :html => {:class => 'form-horizontal', :id => 'questionnaire'},  :builder => HorizontalFormBuilder do |f|
    = render "shared/error_messages", :target => @dataset
    %div.control-group
      = f.label :title
      .controls
        = f.text_field :title
    %div.control-group
      = f.label :documentation_url
      .controls
        = f.text_field :documentation_url
    %div.control-group
      = f.label :curating_org
      .controls
        = f.text_field :curating_org
    %div.control-group
      = f.label :curator_url
      .controls
        = f.text_field :curator_url
    %div.control-group
      = f.label :data_kind
      .controls
        = f.text_field :data_kind
    %div.control-group
      .controls
        = f.submit



%section#improvements{"data-bind" => "visible: certificateLevel() !== 'exemplar'"}
  .page-header
    %h1 Improving Your Open Data
  %p.lead
    You can improve the way you are publishing open data to make it more useful.