- content_for :header_title do
  #{link_to t('datasets.datasets'), datasets_path} / #{@dataset.title}

- if admin?
  = form_for @dataset, html: {class: 'admin-functions'} do |f|
    - if @dataset.removed
      %i.icon-flag.icon-large
      This dataset has been removed
    - else
      %i.icon-ok.icon-large
      This dataset is visible

    = f.hidden_field :removed, value: !@dataset.removed
    =submit_tag "Toggle", class: 'btn'


%hr.heavy
- if can? :manage, @dataset
  = render partial: 'dataset', object: @dataset, locals: {expanded: true}
- else
  = render partial: 'dataset_min', object: @dataset, locals: {expanded: true}

- content_for :rss_feed do
  = dataset_path(@dataset, format: 'feed')
