- rg ||= nil
- renderer = q.renderer(g ||= nil)
%li.container
  %fieldset{:id => rg ? "q_#{q.id}_#{rg}" : "q_#{q.id}", :class => "row q_#{renderer} #{q.css_class(@response_set)} requirement_#{q.requirement_level} inline-validation"}
    .status-error.span8
      .status-icon
        %i.icon.icon-variable
      .status-message
        %span= q_text(q, @render_context, I18n.locale).html_safe
        %i.arrow-border
        %i.arrow
