%section.survey-section{'data-reference-identifier' => section.reference_identifier, id: "#{section.reference_identifier}-section"}
  - if section.display_header
    %header.inactive{'data-toggle'=>"collapse", "data-target"=>".survey-section[data-reference-identifier=#{section.reference_identifier}] ul"}
      .container
        %h3= section.heading
        %h4= section.subheading

  %ul{:class => section.display_header ? 'collapse' : ''}
    - section.questions_by_group.each do |group, questions|
      - if group
        = render "/partials/question_group", :g => group, :qs => questions, :f => f
      - else
        - questions.each do |question|
          = render partial_for_question(question), :q => question, :f => f
