- content_for :header_title, 'Change your password'

= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!
  = f.hidden_field :reset_password_token

  .form-field
    = f.label :password, "New password"
    = f.password_field :password, :autofocus => true, :class => 'span8'
  .form-field
    = f.label :password_confirmation, "Confirm new password"
    = f.password_field :password_confirmation, :class => 'span8'

  = f.submit "Change my password", :class => 'btn btn-primary'

= render "devise/shared/links"
