#status_panel{data:{progress_url: progress_dataset_certificate_path(dataset_id:@response_set.dataset_id, id: @response_set.certificate.id)}}
  #panel_handle
  #panel_inner
    %h2= t('status_panel.title')
    %p
      = t('status_panel.description')
      =link_to t('status_panel.about'), about_page_path
    %p
      =link_to t('status_panel.improve_data'), view_my_survey_requirements_path(:response_set_code => @response_set.access_code)

    %hr
    #panel_loading
      = t('.updating')
      %i.icon.icon-refresh.icon-spin

    %h3.basic-level
      %strong= t('levels.basic.title')+':'
      = t('levels.basic.description')
    .progress.progress-striped.progress-basic
      .bar#bar-basic

    %hr
    %h3.pilot-level
      %strong= t('levels.pilot.title')+':'
      = t('levels.pilot.description')
    .progress.progress-striped.progress-pilot
      .bar#bar-pilot

    %hr
    %h3.standard-level
      %strong= t('levels.standard.title')+':'
      = t('levels.standard.description')
    .progress.progress-striped.progress-standard
      .bar#bar-standard

    %hr
    %h3.exemplar-level
      %strong= t('levels.exemplar.title')+':'
      = t('levels.exemplar.description')
    .progress.progress-striped.progress-exemplar
      .bar#bar-exemplar

