-# we need to break from the .container and
-# also surround everything in a form

- content_for(:header) do
  / header overridden
- content_for(:main_container_class) {'non-container'}

= semantic_form_for(@response_set, :as => :r, :url => surveyor.update_my_survey_path, :html => {:method => :put, :id => "survey_form"}) do |f|

  .affixed
    %header
      .container
        .row
          .span9
            %h1 New Certificate
            %h3{'data-bind-to-input' => @survey.dataset_title}= @response_set.title
          .span3
            = f.submit t('surveyor.click_here_to_finish'), :name => :finish, :class => 'btn btn-primary'
        
  = render :partial => 'shared/flashes'

  :javascript
    $(function(){
      $('#status_panel a').on('click', function(){
        $.each(['basic', 'pilot', 'standard', 'exemplar'], function(i,level){
          var $requirements = $('.requirement_' + level);
          // hidden ones are good
          var total = $requirements.size();
          var hidden = $requirements.filter('.q_hidden').size();
          var untriggered = 0;

          var shown = total - hidden;
          $('#bar-' + level).width(100*(hidden/total)  + '%')

        })
      })
    })
  #status_panel
    #panel_handle
    %a.btn load
    %p You've achieved a <strong>Raw</strong> level of open data, and are now working towards <strong>Standard</strong> level.
    %hr
    %h3 Raw 
    .progress.progress-striped.progress-info
      .bar#bar-basic

    %hr
    %h3 Pilot
    = image_tag "badges/status-indicators/pilot.png"
    .progress.progress-striped.progress-warning
      .bar#bar-pilot
   
    %hr
    %h3 Standard
    = image_tag "badges/status-indicators/standard.png"
    .progress.progress-striped.progress-success
      .bar#bar-standard

    %hr
    %h3 Expert
    = image_tag "badges/status-indicators/expert.png"
    .progress.progress-striped.progress-danger
      .bar#bar-exemplar
    %hr
    %p 
    %a{:href => "http://certificate.theodi.org/surveys/-PJCBXiSMw/requirements?locale=en"} How can I improve my open data? 

  #surveyor{class: params[:highlight_mandatory] ? 'highlight-mandatory' : ''}
    = hidden_field_tag :surveyor_javascript_enabled, false

    .container
      .row
        %p.lead.span8= @survey.translation(I18n.locale)[:description]

    = render 'partials/dependents' unless @dependents.empty?
    - if @response_set.no_responses_for_section?(@section) # cache if response_set has no responses for current section
      = cache("section_#{@section.id}") do
        = render :partial => '/partials/section', :collection => @sections, :as => :section, :locals => {:f => f}
    - else # no cache
      = render :partial => '/partials/section', :collection => @sections, :as => :section, :locals => {:f => f}

  .container
    .temporary_links
      %p
        = link_to 'attained level', surveyor.view_my_survey_attained_level_path(response_set_code: @response_set.access_code)
        |
        = link_to 'outstanding requirements', surveyor.view_my_survey_requirements_path(response_set_code: @response_set.access_code)
        %br/
        (right-click and open in a new tab)

:javascript
  $(document).ready(function() {
    $("input#surveyor_javascript_enabled").val(true);
  });
