- content_for :header_title, t("improvements.heading")

- content_for(:main_container_class) {'non-container improvements'}

- ['basic', 'pilot', 'standard', 'exemplar'].each do |level|

  %header{:class => level}
    %div.container{:class => level}
      %h2= t("improvements.levels.#{level}.title")
      %h3= t("improvements.levels.#{level}.subtitle")

  %div.non-container{:class => level}
    %div.container{:class => level}
      %p= t("improvements.levels.#{level}.instruction")

      %ul
        -if level == 'basic'
          -# the requirements for basic are actually mandatory fields
          -@mandatory_fields.each do |field|
            %li Answer &lsquo;<strong>#{field.text.html_safe}</strong>&rsquo;
          -# also any basic requirements
          -@requirements.select {|r| r.requirement_level == level}.each do |requirement|
            %li
              = without_instruction(requirement.text).html_safe
        - else
          -@requirements.select {|r| r.requirement_level == level}.each do |requirement|
            %li
              = without_instruction(requirement.text).html_safe