- content_for(:header) do
  / header overridden
- content_for(:main_container_class) {'non-container improvements'}

.affixed
  %header
    .container
      .row
        .span9
          %h1= t('improvements.heading')
          %h3= @response_set.title
        .span3
          =link_to t('improvements.return_to_questionnaire'), surveyor.continue_my_survey_path(:survey_code => @response_set.survey.access_code, :response_set_code => @response_set.access_code), :class => 'btn btn-primary btn-large', :role => "button"

- ['basic', 'pilot', 'standard', 'exemplar'].each do |level|

  - requirements = @requirements.select {|r| r.requirement_level == level}
  - fields = level == 'basic' ? @mandatory_fields : []

  - unless (requirements + fields).empty?

    %section{:class => "improvement improvement-#{level}"}

      %header
        .container
          %h2= t("improvements.levels.#{level}.title")
          %h3= t("improvements.levels.#{level}.subtitle")

      .requirements.container
        %p= t("improvements.levels.#{level}.instruction")

        %ul
          -fields.each do |field|
            %li
              answer &lsquo;<strong>#{link_to field.text.html_safe, surveyor.continue_my_survey_path(:survey_code => @response_set.survey.access_code, :response_set_code => @response_set.access_code, :anchor => "q_#{field.id}")}</strong>&rsquo;

          -requirements.each do |requirement|
            %li
              = link_to without_instruction(requirement.text).html_safe, surveyor.continue_my_survey_path(:survey_code => @response_set.survey.access_code, :response_set_code => @response_set.access_code, :anchor => "q_#{requirement.question_corresponding_to_requirement ? requirement.question_corresponding_to_requirement.id : requirement.answer_corresponding_to_requirement.question.id}")