- content_for :header_title, t("improvements.heading")

- content_for(:main_container_class) {'non-container improvements'}

- ['basic', 'pilot', 'standard', 'exemplar'].each do |level|

  - requirements = @requirements.select {|r| r.requirement_level == level}
  - fields = level == 'basic' ? @mandatory_fields : []

  - unless (requirements + fields).empty?

    %section{:class => "improvement improvement-#{level}"}

      %header
        .container
          %h2= t("improvements.levels.#{level}.title")
          %h3= t("improvements.levels.#{level}.subtitle")

      .requirements.container
        %p= t("improvements.levels.#{level}.instruction")

        %ul
          -fields.each do |field|
            %li
              Answer &lsquo;<strong>#{field.text.html_safe}</strong>&rsquo;

          -requirements.each do |requirement|
            %li
              = without_instruction(requirement.text).html_safe