%div.certificate-data
  - response_set.survey.sections.each do |section|
    - questions = section.questions_for_certificate response_set
    - responses = response_set.responses_for_questions questions
    - if responses.any?
      %hr.heavy
      %h3= section.title
      %ul
        - responses.each do |response|
          - response_text = response.statement_text
          - answer = response_set.autocomplete_override_message_for(response.question)
          - if response_text != ''
            - explanation_required = (response.autocompletable? && !response.all_autocompleted) || response.error

            - state = 'error' if explanation_required
            - state = 'warning' if explanation_required && answer.message?

            - error_message = t('surveyor.publisher_changed_autocompleted') if explanation_required
            - error_message = t('surveyor.publisher_url_invalid') if response.error && response.answer.input_type == 'url'

            %li{class: state, data: {content: 'toggle', button: '.error a', target: '.well'}}
              %h4= response.question.statement_text
              %p.answer
                %i.icon.icon-variable
                - if response.answer.input_type == 'url'
                  = link_to(response_text, response_text, :title => response_text, :class => 'cropped')
                - else
                  = response_text
                %span.label.odc-popover
                  %span.icon.icon-flag
                  %span.odc-popover-content
                    Do you think this data is incorrect?
                    = link_to comment_path(topic: "certificates/#{response_set.certificate.id}/#{response.question.reference_identifier}", back: request.original_fullpath, title: "#{response.question.statement_text} #{response_text} ") do
                      %span.btn.btn-mini.btn-info Let us know <i class="icon icon-chevron-right"></i>

              - if state
                %p.error
                  = error_message
                  - if answer.message?
                    %a{href: '#more'}
                      = t('surveyor.find_out_more')
                      %i.icon.icon-angle-down

                - if answer.message?
                  .well.well-small
                    %h5= t('surveyor.from_publisher')
                    %p= answer.message
  %hr.heavy
