%div.certificate-data
  - if description = response_set.description
    %hr.heavy
    %h3= t 'certificate.description'
    %p.description= strip_tags description

  - response_set.survey.sections.each do |section|
    - questions = section.questions_for_certificate response_set
    - responses = response_set.responses_for_questions questions
    - if responses.any?
      %hr.heavy
      %h3= section.heading
      - if section.reference_identifier == "legal" && response_set.assumed_us_public_domain?
        %div.certificate-info
          %i.icon-info-sign
          = t('certificate.us_public_domain_assumption_html')
      %ul
        - responses.each do |response|
          - response_text = response.statement_text
          - if response_text != ''
            - explanation_required = (response.autocompletable? && !response.all_autocompleted(responses)) || response.error

            - state = 'error' if explanation_required
            - state = 'warning' if explanation_required && response.explanation.present?

            - error_message = t('surveyor.publisher_changed_autocompleted') if explanation_required
            - error_message = t('surveyor.publisher_url_invalid') if response.error && response.answer.input_type == 'url'

            %li{class: state, data: {content: 'toggle', button: '.error a', target: '.well'}}
              %h4= response.question.statement_text
              %p.answer
                %i.icon.icon-variable
                - if response.answer.input_type == 'url'
                  = link_to(response_text, response_text, :title => response_text, :class => 'cropped')
                - else
                  = response_text
                %span.label.odc-popover
                  %span.icon.icon-flag
                  %span.odc-popover-content
                    Do you think this data is incorrect? Let us know</i>

              - if state
                %p.error
                  = error_message
                  - if response.explanation.present?
                    %a{href: '#more'}
                      = t('surveyor.find_out_more')
                      %i.icon.icon-angle-down

                - if response.explanation.present?
                  .well.well-small
                    %h5= t('surveyor.from_publisher')
                    %p= response.explanation
  %hr.heavy
