- if user_signed_in?
  %li= link_to "Account", edit_user_registration_path
  %li= link_to('Logout', destroy_user_session_path, :method => :delete)

- else
  %li.dropdown-menu-button
    = link_to('Register', new_user_registration_path, "data-dropdown" => "toggle", "data-parent" => "#topbar", "data-target" => "#register")
    #register
      %div= render 'devise/registrations/new', :resource => User.new, :resource_name => 'user'
  %li.dropdown-menu-button
    = link_to('Login', new_user_session_path, "data-dropdown" => "toggle", "data-parent" => "#topbar", "data-target" => "#login")
    #login
      %div= render 'devise/sessions/new', :resource => User.new, :resource_name => 'user'
