%li.search
  = form_tag datasets_path, method: 'get' do
    = text_field_tag 'search', params[:search], id: 'search_certificates', placeholder: t('certificates.search.search_label')

- if user_signed_in?
  %li= link_to "Account", edit_user_registration_path(current_user.id)
  %li= link_to('Logout', destroy_user_session_path, :method => :delete)

- else
  %li.dropdown-menu-button
    = link_to('Register', new_user_registration_path, "data-dropdown" => "toggle", "data-parent" => "#topbar", "data-target" => "#register")
    #register.registration_form_container= render 'devise/registrations/form', :resource => User.new, :resource_name => 'user', :remote => true
  %li.dropdown-menu-button
    = link_to('Login', new_user_session_path, "data-dropdown" => "toggle", "data-parent" => "#topbar", "data-target" => "#login")
    #login.sign_in_form_container= render 'devise/sessions/form', :resource => User.new, :resource_name => 'user', :remote => true
