.modal.modal-wide.hide.fade.embed-code{:id => "embed-#{certificate.id}"}
  .modal-header
    %button.close{:type => :button, 'data-dismiss' => :modal, 'aria-hidden' => true} &times;
    %h3= t("certificate.embeddable_certificate")
  .modal-body
    .row-fluid
      .span6
        // write the badge partial straight to the page (which is what embedding the js would do)
        =render(:partial => 'certificates/badge', :object => certificate)
        %h4= t("certificate.embed_badge")
        %p= t("certificate.embed_badge_instructions")
        %textarea= render(:partial => 'shared/embed_badge', :locals => {:certificate => certificate}).gsub(/[&"'><]/, ERB::Util::HTML_ESCAPE).html_safe
      .span6.last
        %p= link_to embed_dataset_certificate_path(certificate.response_set.dataset, certificate) do image_tag("certificate.png") end
        %h4= t("certificate.view_embed_page")
        %p= t("certificate.embed_instructions")
        %textarea= render(:partial => 'shared/embed_iframe', :locals => {:certificate => certificate}).gsub(/[&"'><]/, ERB::Util::HTML_ESCAPE).html_safe
