.modal.hide.fade.embed-code{:id => "embed-code-#{certificate.id}"}
  .modal-header
    %h3= t("certificate.embeddable_certificate")
  .modal-body
    %h1= certificate.name
    %p= t("certificate.embed_instructions")
    %textarea= render(:partial => 'shared/embed_iframe', :locals => {:certificate => certificate}).gsub(/[&"'><]/, ERB::Util::HTML_ESCAPE).html_safe
    = link_to t("certificate.view_embed_page"), embed_certificate_path(certificate), :class => 'btn btn-info'
