= modal_popup("embed-#{certificate.id}", "embed-code", t("certificate.embeddable_certificate")) do
  .row-fluid
    .span6
      // write the badge partial straight to the page (which is what embedding the js would do)
      =render(:partial => 'certificates/badge', :object => certificate)
      %h4= t("certificate.embed_badge")
      %p= t("certificate.embed_badge_instructions")
      %textarea{data: {content: :highlight}}= render(:partial => 'shared/embed_badge', :locals => {:certificate => certificate}).gsub(/[&"'><]/, ERB::Util::HTML_ESCAPE).html_safe
    .span6.last
      %p= link_to embed_dataset_latest_certificate_path(certificate.dataset) do image_tag("certificate.png") end
      %h4= t("certificate.view_embed_page")
      %p= t("certificate.embed_instructions")
      %textarea{data: {content: :highlight}}= render(:partial => 'shared/embed_iframe', :locals => {:certificate => certificate}).gsub(/[&"'><]/, ERB::Util::HTML_ESCAPE).html_safe
