.modal.hide.fade.embed-code{:id => "embed-code-#{certificate.id}"}
  .modal-header
    %h3= t("certificate.embeddable_certificate")
  .modal-body
    .row-fluid
      .span6
        =render(:partial => 'shared/embed_badge', :locals => {:certificate => certificate})
        %h4= t("certificate.embed_badge")
        %p= t("certificate.embed_badge_instructions")
        %textarea= render(:partial => 'shared/embed_badge', :locals => {:certificate => certificate}).gsub(/[&"'><]/, ERB::Util::HTML_ESCAPE).html_safe
      .span6.last
        %p= link_to embed_certificate_path(certificate) do image_tag("certificate.png") end
        %h4= t("certificate.view_embed_page")
        %p= t("certificate.embed_instructions")
        %textarea= render(:partial => 'shared/embed_iframe', :locals => {:certificate => certificate}).gsub(/[&"'><]/, ERB::Util::HTML_ESCAPE).html_safe
