- kitten_data = response_set.kitten_data.try(:data)

.summary-data
  %h3= t :summary, scope: :summary_data
  %dl
    =detail_item(t :type_of_release, scope: :summary_data)   { response_set.release_type_determined_from_responses }

    - licences = response_set.licences
    - if licences[:data] === licences[:content]
      =detail_item(t :licence, scope: :summary_data)         { licences[:data][:title] }
    - else
      =detail_item(t :data_licence, scope: :summary_data)    { licences[:data][:title] }
      =detail_item(t :content_licence, scope: :summary_data) { licences[:content][:title] }

    =detail_item(t :verification, scope: :summary_data) { t response_set.certificate.certification_type, scope: 'certificate.certification_types' }

    - if kitten_data
      %dt= t :release_date, scope: :data_kitten
      %dd!= kitten_value(kitten_data[:release_date]).to_s

      %dt= t :modified_date, scope: :data_kitten
      %dd!= kitten_value(kitten_data[:modified_date])

      %dt= t :update_frequency, scope: :data_kitten
      %dd!= kitten_value(kitten_data[:update_frequency])

  - if kitten_data
    %hr.heavy

    %h3= t :publishers, scope: :data_kitten
    %dl
      %dd!= kitten_value(kitten_data[:publishers])

    %h3= t :licenses, scope: :data_kitten
    %dl
      %dd!= kitten_value(kitten_data[:licenses])

    %h3= t :keywords, scope: :data_kitten
    %dl
      %dd!= kitten_value(kitten_data[:keywords])

    - excluded = Set.new([:description, :distributions, :release_date, :modified_date, :update_frequency, :publishers, :licenses, :keywords])
    - extra_data = kitten_data.reject{ |key,value| excluded.include?(key) || kitten_value(value).blank? }

    /# Ignore the title if it is the same as the certificate title
    - extra_data.delete(:title) if defined?(@certificate) && @certificate.response_set.try(:title) == extra_data[:title]

    - unless extra_data.empty?
      %hr.heavy

      - extra_data.each do |key, v|
        %h3= t key, scope: :data_kitten
        %dl
          %dd!= kitten_value(v)
          %dd= key
