.modal.hide.fade.embed-code{:id => "switch-language-#{response_set.id}"}
  .modal-header
    %button.close{:type => :button, 'data-dismiss' => :modal, 'aria-hidden' => true} &times;
    %h3= t('response_set.choose_a_language')
  .modal-body
    %p= t 'response_set.language_dialog_body'
    = form_tag change_locale_path, method: :post, :class => 'form-inline' do
      = hidden_field_tag :current_path, request.fullpath
      = select_tag :new_locale, locale_options_for_select(I18n.locale), prompt: t('response_set.choose_language')
      = submit_tag t('response_set.start_new_language'), :class => 'btn btn-primary btn-submit'
