- content_for :header, t('dashboard.heading__my_certificates')

%p= t('dashboard.heading__intro_text')

= form_tag non_authenticated_start_questionnaire_path do |f|
  - if @surveys.count > 1
    = select_tag(:survey_access_code, options_for_select([["-- #{t(:choose_legislation)} --", ""]] + @surveys.map{|s|[s.title, s.access_code]}))
  = submit_tag t('dashboard.start_new_certification')

- if current_user.datasets.any?
  = render partial: 'datasets/dataset', collection: current_user.datasets

