- content_for(:body_class) {'odi-bleed'}
- content_for(:main_container_class) {'container'}
- content_for(:nav_brand) do
  = image_tag "logo-home.png"

- content_for(:super_head) do
  #padd{style: 'height:500px;'}
    .container
      .row
        .span4.offset8
          %h1= t('homepage.title')
          %h2= t('homepage.tagline').html_safe
          = new_certificate_link({role: 'button', class: ['btn', 'btn-large', 'btn-primary'], link_text: t('homepage.start_new_certificate')})
          -#= link_to t('homepage.browse_all_new_certificates'), certificates_path, class: ['btn', 'btn-large', 'btn-info'] #TODO: Commented browse certificate functionality

- content_for(:header) do
  #empty

  %header.home
    .container
      .row
        .span12
          %h1= t('homepage.how_it_works')
      .row.steps
        .span4
          %h2
            1
            %small= t('homepage.fill_out_questionnaire.title')

          %p= t('homepage.fill_out_questionnaire.description')

        .span4
          %h2
            2
            %small= t('homepage.generate_certificate.title')
          %p= t('homepage.generate_certificate.description')

        .span4.last
          %h2
            3
            %small= t('homepage.share_open_data.title')
          %p= t('homepage.share_open_data.description')

.home-header-buttons
  .row
    .span4
      -#= new_certificate_link({role: 'button', class: ['btn', 'btn-large', 'btn-primary'], link_text: t('homepage.start_new_certificate')})
    .span4
      = new_certificate_link({role: 'button', class: ['btn', 'btn-large', 'btn-primary'], link_text: t('homepage.start_new_certificate')})
    .span4
      -#= link_to t('homepage.browse_certificates'), certificates_path, class: ['btn', 'btn-large', 'btn-primary'] #TODO: Commented browse certificate functionality
      %p.logo ODI

.main
  .row
    .span6
      .video-container
        %iframe{width: 560, height: 315, src: 'https://www.youtube.com/embed/_k5pQxeQq9w', frameborder: 0, allowfullscreen: 'allowfullscreen'}
    .span6.homepage-about-content
      %h2.about-certificate
        -#= link_to t('homepage.about_certificate.title'), certificates_path #TODO: Commented browse certificate functionality
        = link_to t('homepage.about_certificate.title'), '/about' #TODO: Commented browse certificate functionality
      %p.about-certificate= t('homepage.about_certificate.description')
      -#= link_to t('homepage.about_certificate.link'), certificates_path, class: ['about-certificate'] #TODO: Commented browse certificate functionality
      = link_to t('homepage.about_certificate.link'), '/about', class: ['about-certificate'] #TODO: Commented browse certificate functionality
      %h2.about-odi
        = link_to t('homepage.about_odi.title'), '/contact'
      %p.about-odi= t('homepage.about_odi.description', odi_name_link: link_to(t('homepage.about_odi.odi_name'), 'http://theodi.org')).html_safe
      = link_to t('homepage.about_odi.link'), '/contact', class: ['about-odi']


#international-reach{style: 'visibility:hidden;height:500px;'}
  .row
    .span6
      .map
    .span6.controls
      %h2= t('homepage.international_reach.title')
      %p= t('homepage.international_reach.description')
      .form-inline
        %select
        %a.autoadvance
          %i.icon.icon-refresh
            %small
              = t('homepage.international_reach.auto_advance')
      .actions
        %p
          = new_certificate_link({role: 'button', class: ['btn', 'btn-small', 'btn-primary', 'create-certificate'], link_text: t('homepage.start_new_certificate')})
        .jurisdiction
          .badge
          %span.status
        %dl.statuses
          %dt= t('statuses.alpha.title')
          %dd.alpha= markdown t('statuses.alpha.about')
          %dt= t('statuses.beta.title')
          %dd.beta= markdown t('statuses.beta.about')
          %dt= t('statuses.final.title')
          %dd.final= markdown t('statuses.final.about')
        %hr
        %h3 
          = t('homepage.international_reach.legend.legend')
        %span.label.alpha
          = t('homepage.international_reach.legend.alpha')
        %span.label.beta
          = t('homepage.international_reach.legend.beta')
        %span.label.final
          = t('homepage.international_reach.legend.final')


- content_for(:foot_scripts) do
  = javascript_include_tag :map