- content_for :header_title do
  Application Status



.pull-right
  Last commit 
  = link_to @head_commit[0..6] , "https://github.com/theodi/open-data-certificate/commit/#{@head_commit}", class: 'badge'


%h1
  Job queue

%p
  %strong= pluralize @job_count, 'jobs'
  queued

%hr.heavy

%h1
  Counts

-@counts.each do |k,count|
  %h2= k.titleize
  %ul
    -count.each do |c,v|
      %li
        %strong= c.to_s.humanize
        -if v.class == Hash
          %ul
            -v.each do |l,n|
              %li
                %strong= l.to_s.humanize
                = n
        -else
          = v

%hr.heavy

%p.data
  Get historic data as 
  =alternate_link_buttons(:class => 'badge')
