<% content_for :header_title, t("about.heading_about") %>

<div class="container about">
  <div class="span8">
    <nav>
      <ul>
        <li><%= link_to('Badge Levels', badge_levels_page_path) %></li>
        <li><%= link_to('What you need', what_you_need_page_path) %></li>
        <li><%= link_to('FAQ', faq_page_path) %></li>
        <li><%= link_to('Autocertification', autocertification_path) %></li>
      </ul>
    </nav>

    <div class="benefits-section">

      <p>Open Data Certificate is a free online tool developed and maintained by the Open Data Institute, to assess and recognise the sustainable publication of quality open data. It assess the legal, practical, technical and social aspects of publishing open data using best practice guidance.</p>

      <p>Have a look at our <a href="/en/about/whatyouneed">guide to what you need</a> to complete a certificate or <a href="/en/start_certificate">start the questionnaire</a> to create your own certificate now.</p>

      <p>More information on the what, how and why of Open Data Certificates can be found on our <a href="/en/faq">FAQ page</a>.</p>

    </div>

    <div class="benefits-section">
      <h2>How to get certificates</h2>

      <p>There are two ways to earn a certificate:</p>

      <h3>For multiple datasets</h3>
      <p>If your data is hosted on a portal such as <%= link_to 'CKAN', 'http://ckan.org/' %> or you use <%= link_to 'DCAT', 'http://www.w3.org/TR/vocab-dcat/' %>, we can automatically pre-fill parts of the questionnaire to create draft certificates that can be reviewed, edited and claimed. By claiming an awarded certificate, you can embed an Open Data Certificate badge onto your website.</p>
      <p><%= link_to('Send us your website URL to get started', contact_page_path, class: 'btn') %></p>

      <h3>Single datasets</h3>
      <p>To get a certificate for a single dataset, start our questionnaire here:</p>
      <p><%= new_certificate(class: 'btn') %></p>
    </div>

    <div class="benefits-section">
      <h2>Publisher benefits</h2>

      <dl>
        <dt>Independent mark of quality</dt>
        <dd>Be recognised for your open data publication achievements with an Open Data Certificate you can display on your website.</dd>

        <dt>Guide to best practice standards</dt>
        <dd>Be guided through an assessment of your publication process measured against global best practices.</dd>

        <dt>Free report for how to improve</dt>
        <dd>Receive an easy to follow report on what is required to take you to the next level.</dd>

        <dt>Engage reusers</dt>
        <dd>Provide reusers with information they need to trust and rely on your data with Open Data Certificates.</dd>
      </dl>
    </div>

    <div class="benefits-section">
      <h2>Data user benefits</h2>

      <dl>
        <dt>Level of dependability</dt>
        <dd>We ask publishers key questions about copyright, timeliness, how long this dataset will be supported and updated, as well as encouraging thorough documentation.</dd>

        <dt>Adherence to best practices</dt>
        <dd>Higher certificate levels require greater commitments from publishers that helps you to get the information you need to re-use their data sustainably.</dd>

        <dt>Independent assessment</dt>
        <dd>Open Data Certificate is independent of any data publishing platform or metadata standard. We combine global best practices to ensure that data is published sustainably with information needed for reuse.</dd>
      </dl>
    </div>

    <div class="benefits-section">
      <h2>How to get certificates</h2>

      <p>There are two ways to earn a certificate:</p>

      <h3>For multiple datasets</h3>
      <p>If your data is hosted on a portal such as <%= link_to 'CKAN', 'http://ckan.org/' %> or you use <%= link_to 'DCAT', 'http://www.w3.org/TR/vocab-dcat/' %>, we can automatically pre-fill parts of the questionnaire to create draft certificates that can be reviewed, edited and claimed. By claiming an awarded certificate, you can embed an Open Data Certificate badge onto your website. <%= link_to 'Find out more about auto-certification', autocertification_path %>.</p>
      <p><%= link_to('Send us your website URL to get started', contact_page_path, class: 'btn') %></p>

      <h3>Single datasets</h3>
      <p>To get a certificate for a single dataset, start our questionnaire here:</p>
      <p><%= new_certificate(class: 'btn') %></p>
    </div>

    <div class="benefits-section">
      <h2>Data platform technologists</h2>
      <p>Open Data Certificate provides a free validation service for open data. The validation report lets publishers spot datasets that do not meet required standards, to allow them to take corrective action and provide maintained and trusted data for data reusers.</p>

      <p>
        <%= example_certificate_link %>
      </p>
    </div>

    <hr class="supporter-divider"/>
    <div class="supporter">
      <%= image_tag "3rd-party/open-data-monitor-logo-100x100.png" %>
      <div class="caption">Development of this tool was partly supported by the OpenDataMonitor project, co-funded by the European Commission under the Seventh Framework Programme (FP7 2007-2013).</div>
    </div>
  </div>
</div>
