- content_for :header_title, t("branding.heading")

.container.marks
  %p
    The marks can only appear on your web page using the supplied HTML.<br />
    Your mark is automatically selected in accordance with your approved certificate.

  %p
    = image_tag 'branding/odcguidelines_01.png',
           alt: 'Badges by level'

  %p
    The mark must only appear in these sizes:

  %p
    = image_tag 'branding/odcguidelines_02.png',
           alt: 'Badges must a minimum of 50px and a maximum of 70px high'

  %p
    The mark needs to be surrounded by a minimum of 10 pixels of clear space:

  %p
    = image_tag 'branding/odcguidelines_03.png',
           alt: 'Example of the space that should surround the mark'

  %p
    The colour of the mark is black and white.<br />
    Only when your website has a dark background you can display the “grey” option:

  %p
    = image_tag 'branding/odcguidelines_04.png',
           alt: 'The \'grey\' option has a hex value of #999999'

  %p
    DO NOT use the mark:

  %ul
    %li
      on an image or photograph
    %li
      inside another shape, such as a circle or square

  %p
    Examples:

  %p
    = image_tag 'branding/odcguidelines_05.png',
            alt: 'How not to use the mark'

  %p
    The marks have a dynamic hover view. Metadata will appear either left or right of the mark,
  depending on where you place the mark on your website.

  %p
    Right position:

  %p
    = image_tag 'branding/odcguidelines_06.png',
           alt: 'Right position'

  %p
    Left position:

  %p
    = image_tag 'branding/odcguidelines_07.png',
           alt: 'Left position'

  %p
    = link_to 'Contact us', 'contact'
    for help and more information.
