<% content_for :header_title, t("branding.heading") %>
<div class="container marks">
  <p>
    The marks can only appear on your web page using the supplied HTML.<br />
    Your mark is automatically selected in accordance with your approved certificate.
  </p>
  <p>
    <%= image_tag 'branding/odcguidelines_01.png', alt: 'Badges by level' %>
  </p>
  <p>
    The mark must only appear in these sizes:
  </p>
  <p>
    <%= image_tag 'branding/odcguidelines_02.png', alt: 'Badges must a minimum of 50px and a maximum of 70px high' %>
  </p>
  <p>
    The mark needs to be surrounded by a minimum of 10 pixels of clear space:
  </p>
  <p>
    <%= image_tag 'branding/odcguidelines_03.png', alt: 'Example of the space that should surround the mark' %>
  </p>
  <p>
    The colour of the mark is black and white.<br />
    Only when your website has a dark background you can display the “grey” option:
  </p>
  <p>
    <%= image_tag 'branding/odcguidelines_04.png', alt: 'The \'grey\' option has a hex value of #999999' %>
  </p>
  <p>
    DO NOT use the mark:
  </p>
  <ul>
    <li>
      on an image or photograph
    </li>
    <li>
      inside another shape, such as a circle or square
    </li>
  </ul>
  <p>
    Examples:
  </p>
  <p>
    <%= image_tag 'branding/odcguidelines_05.png', alt: 'How not to use the mark' %>
  </p>
  <p>
    The marks have a dynamic hover view. Metadata will appear either left or right of the mark,
  </p>
  depending on where you place the mark on your website.
  <p>
    Right position:
  </p>
  <p>
    <%= image_tag 'branding/odcguidelines_06.png', alt: 'Right position' %>
  </p>
  <p>
    Left position:
  </p>
  <p>
    <%= image_tag 'branding/odcguidelines_07.png', alt: 'Left position' %>
  </p>
  <p>
    <%= link_to 'Contact us', 'contact' %>
    for help and more information.
  </p>
</div>
