<% content_for :header_title, t("certificate_how_to.header_title") %>

<div class="container about">
  <div class="span8">
    <h2>How to get certificates</h2>

    <p>There are two ways to earn a certificate:</p>

    <h3>For multiple datasets</h3>
    <p>If your data is hosted on a portal such as <%= link_to 'CKAN', 'http://ckan.org/' %> or you use <%= link_to 'DCAT', 'http://www.w3.org/TR/vocab-dcat/' %>, we can automatically pre-fill parts of the questionnaire to create draft certificates that can be reviewed, edited and claimed. By claiming an awarded certificate, you can embed an Open Data Certificate badge onto your website. <%= link_to 'Find out more about auto-certification', autocertification_path %>.</p>
    <p><%= link_to('Send us your website URL to get started', contact_page_path, class: 'btn') %></p>

    <h3>Single datasets</h3>
    <p>To get a certificate for a single dataset, start our questionnaire here:</p>
    <p><%= new_certificate_link(class: 'btn') %></p>
  </div>
</div>
