= modal_popup("report-#{certificate.id}", "report-certificate", t(".heading")) do
  %p=t ".intro", :name => certificate.name
  = form_tag report_dataset_certificate_path do |f|
    %p
      = text_area_tag :reasons, nil, :rows => 5, :placeholder => t('.describe_the_problem'), :class => 'input-xxlarge'
    %p
      = label_tag :email, t('.contact_email')
      = text_field_tag :email, current_user.try(:email), :class => 'input-large'
    = submit_tag t(".report"), class: 'btn btn-primary', :name => nil
