%section
  %h1 Certificates

  = render partial: 'certificates_search/search_form', locals: { search: @search } if @search

  - if @certificates.any?

    - certificates = @certificates.group_by{|c|"#{c.response_set.survey.title}:#{c.response_set.dataset_id}"}
    - most_recent_certificates = certificates.map{|k,v|v.first}.compact

    %table.table.table-striped
      %thead
        %tr
          %th Certificate
          %th Dataset
          %th Survey
        %tbody
        - most_recent_certificates.each do |certificate|
          %tr
            %td= link_to certificate.name, certificate
            %td= certificate.response_set.dataset.title
            %td= certificate.response_set.survey.title
  - else
    %p No certificates found
