.certificate.hero-unit{class: "#{@certificate.attained_level}-level"}

  - if @certificate.published?
    = link_to(t("certificates.embed_this_on_your_site"), "#embed-#{@certificate.id}", :class => 'btn btn-small btn-info pull-right', 'data-toggle' => :modal)
  - else
    %p.btn.btn-small.btn-info.pull-right{disabled:'disabled'}= t 'certificate.not_yet_published'

  .certificate-badge.centered

  .certificate-summary
    %p.certificate-level
      = t("levels.#{@certificate.attained_level}.title_with_level")
      %small= t("certificate.self_certified")
    %h1= @certificate.response_set.title
    %p
      = t("certificate.this_data_has_achieved")
      %strong.certificate-level
        #{t("levels.#{@certificate.attained_level}.title_with_level")}
      = t("certificate.on_date", date: @certificate.created_at.strftime("%d %B %Y"))
      = t("certificate.which_means")
      = t("levels.#{@certificate.attained_level}.description")

=render @certificate.response_set

=render :partial => 'shared/embed_code', :locals => {:certificate => @certificate}
