<% content_for :header_title, "New Campaign" %>

<%= form_for @campaign, url: campaigns_path, method: :post do |f| %>

  <%= hidden_field_tag :version, 2 %>

  <div class="control-group">
    <%= f.label(:name, "Campaign name", class: "control-label") %>
    <div class="controls">
      <%= f.text_field :name %>
      <%= error_message_for(@campaign, :name) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label(:url, "CKAN URL", class: "control-label") %>
    <div class="controls">
      <%= f.text_field :url, class: "span6" %>
      <span class="help-inline">
        Provide the URL of a CKAN website (the homepage of the portal) or a URL to the ATOM feed.
      </span>
      <%= error_message_for(@campaign, :url) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label(:subset, "Subset", class: "control-label") %>

    <div class="input-prepend">
      <span class="add-on"><i class="icon-search"></i></span>
      <%= text_field_tag :subset, '', class: "span6" %>
    </div>

    <p>
    <%= f.fields_for :subset do |s| %>
      <div id="organization-subset">
        <div class="input-prepend">
          <span class="add-on"><i class="icon-briefcase"></i></span>
          <%= s.text_field :organization, readonly: 'readonly', class: "subset-selection" %>
        </div>
      </div>
      <div id="tags-subset">
        <div class="input-prepend">
          <span class="add-on"><i class="icon-tag"></i></span>
          <%= s.text_field :tags, readonly: 'readonly', class: "subset-selection" %>
        </div>
      </div>
    <% end %>
    </p>
    <%= error_message_for(@campaign, :subset) %>
  </div>

  <div class="control-group">
    <%= f.label(:jurisdiction, "Jurisdiction", class: "control-label") %>
    <div class="controls">
      <%= f.select(:jurisdiction, jurisdiction_options_for_select(@campaign.jurisdiction)) %>
      <%= error_message_for(@campaign, :jurisdiction) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label(:limit, "Dataset limit (optional)", class: "control-label") %>
    <div class="controls">
      <%= f.number_field :limit, min: 0 %>
      <%= error_message_for(@campaign, :limit) %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Submit</button>
    </div>
  </div>

<% end %>

<% content_for(:foot_scripts) do %>
 <%= javascript_include_tag "campaign" %>
<% end %>