<% content_for :header_title, "Campaign Details" %>
<h2><%= @campaign.name %></h2>
<p>Started at <%= @campaign.created_at.to_s(:db) %></p>
<ul>
  <li><%= pluralize @campaign.total_count, 'dataset' %> inspected</li>
  <li><%= pluralize @campaign.generated_count, 'dataset' %> added</li>
  <li><%= pluralize @campaign.published_count, 'certificate' %> published</li>
  <li><%= pluralize @campaign.duplicate_count, 'dataset' %> already existed</li>
</ul>
<table class='table table-striped'>
  <tr>
    <th>
      Success
    </th>
    <th>
      Published
    </th>
    <th>
      Source
    </th>
    <th>
      Certificate
    </th>
    <th>
      Action
    </th>
    <th>
      User
    </th>
  </tr>
  <% @generators.each do |generator| %>
    <tr>
      <td>
        <%= boolean_mark(generator.completed?) %>
      </td>
      <td>
        <%= boolean_mark(generator.certificate.published?) %>
      </td>
      <td>
        <%= link_to generator.dataset.title, generator.dataset.documentation_url %>
      </td>
      <td>
        <% if generator.certificate.published? %>
          <%= link_to t("levels.#{generator.certificate.attained_level}.title"), dataset_certificate_path(generator.dataset, generator.certificate) %>
        <% else %>
          <% if !generator.response_set.all_mandatory_questions_complete? %>
            <%= generator.response_set.uncompleted_mandatory_questions_count %> missing answers
          <% end %>
          <% if !generator.response_set.all_urls_resolve? %>
            Couldn't resolve all URLs
          <% end %>
        <% end %>
      </td>
      <td>
        <% if can? :edit, generator.response_set %>
          <%= link_to "edit", continue_path(generator.response_set) %>
        <% end %>
      </td>
      <td>
        <%= generator.dataset.user_email %>
      </td>
    </tr>
  <% end %>
</table>
<%= paginate @generators %>

<%= link_to 'Download CSV', format: "csv" %>
