<% content_for :header_title, "Campaign Details" %>
<%= stylesheet_link_tag 'application', :media => 'screen, projection' %>
<%= stylesheet_link_tag 'campaigns', :media => 'print' %>

<h2>Portal: <span style="font-weight:normal"><%= "#{@campaign.name}" %></span></h2>
<h3>Date: <span style="font-weight:normal">Started at <%= @campaign.created_at.to_s(:db) %></span></h3>
<h3>Report summary: <span style="font-weight:normal"><%= "#{@certified}" %></span></h3>

<p>Started at <%= @campaign.created_at.to_s(:db) %></p>
<% if @campaign.incomplete_count > 0 %>
  <p><strong>Currently running</strong></p>
<% end %>

<ul>
  <li><%= pluralize @campaign.total_count, 'dataset' %> inspected</li>
  <li><%= pluralize @campaign.generated_count, 'dataset' %> added</li>
  <li><%= pluralize @campaign.published_count, 'certificate' %> published</li>
  <li><%= pluralize @campaign.duplicate_count, 'dataset' %> already existed</li>
  <li><%= pluralize @campaign.incomplete_count, 'certificate' %> pending</li>
</ul>

<%= button_to "Rerun campaign", campaign_rerun_path(@campaign), method: 'post' %>

<div class='omit-in-print'>
  <h3>Certificates level:</h3>
  <%= form_tag campaign_path(@campaign), method: :get do %>
    <%= select_tag "certificate_level", "<option>No level certificates</option>
    <option>All certificates</option>".html_safe, name: "certificate_level" %>
    <div class="controls">
      <button type="submit" class="btn">Submit</button>
    </div>
  <% end %>
</div>

<table class='table table-striped'>
  <tr>
    <th>
      Success
    </th>
    <th>
      Published
    </th>
    <th>
      Source
    </th>
    <% if @certified != "Uncertified: missing metadata report" %>
      <th>
        Certificate
      </th>
    <% end %>
    <th class='omit-in-print'>
      Action
    </th>
    <th class='omit-in-print'>
      User
    </th>
    <th>
      Missing responses
    </th>
  </tr>
  <% @generators.each do |generator| %>
    <tr>
      <td>
        <%= boolean_mark(generator.completed?) %>
      </td>
      <td>
        <%= boolean_mark(generator.published?) %>
      </td>
      <% if generator.completed? %>
        <td>
            <%= link_to generator.dataset.title, generator.dataset.documentation_url %>
        </td>
        <% if @certified != "Uncertified: missing metadata report" %>
          <td>
              <% if generator.published? %>
              <%= link_to t("levels.#{generator.certificate.attained_level}.title"), dataset_certificate_path(generator.dataset, generator.certificate) %>
              <% end %>
          </td>
        <% end %>
        <td class='omit-in-print'>
          <% if can? :edit, generator.response_set %>
              <%= button_to "edit", continue_path(generator.response_set), method: 'post' %>
          <% end %>
        </td>
        <td class='omit-in-print'>
            <% if can? :edit, generator.response_set %>
                <%= button_to "edit", continue_path(generator.response_set), method: 'post' %>
                <%= button_to "regenerate", dataset_regenerate_certificate_path(generator.dataset, jurisdiction: generator.survey.access_code), method: 'post' %>
            <% end %>
        </td>
        <td class='omit-in-print'>
            <%= generator.dataset.user_email %>
        </td>
        <td>
          <%= missing_responses(generator, "<br /><br />").html_safe %>
        </td>
      <% else %>
        <td colspan="5">Processing…</td>
      <% end %>
    </tr>
  <% end %>
</table>
<%= paginate @generators %>

<div class='omit-in-print'>
  <%= link_to 'Download CSV', format: "csv" %>
</div>
