<% content_for :header_title, "Certification campaign: #{@campaign.name}" %>

<h3><%= report_heading(@certificate_level) %></h3>
<p>
Feed URL: <%= link_to truncate(@campaign.url, length: 80), @campaign.url %>
</p>

<% @campaign.subset.each_pair do |k,v| %>
<% next if v.blank? %>
<p>
  <%= k.capitalize %> subset: <span class="label label-success"><%= "#{v}" %></span>
</p>
<% end %>
<p>Limited to: <%= pluralize @campaign.limit, 'dataset' %></p>
<%= content_tag(:p, "Includes datasets harvested from other portals") if @campaign.include_harvested %>

<div class='schedule-controls omit-in-print'>
  <%= button_to "Rerun campaign", campaign_rerun_path(@campaign), method: 'post', class: 'btn' %>
  <%= button_to "Schedule campaign", campaign_scheduled_rerun_path(@campaign), method: 'post', class: 'btn' %>

  <%= form_tag campaign_queue_update_path(@campaign, certificate_level: @certificate_level), method: :post, class: 'form-inline button_to' do %>
    <%= submit_tag "Queue updates", class: "btn" %>
  <% end %>
  
</div>

<p>Started at <%= @campaign.created_at.to_s(:db) %></p>

<div id = "campaign-state">
  <%= render 'state' %>
</div>

<hr/>
<br/>

<div class='omit-in-print'>
  <%= form_tag campaign_path(@campaign), method: :get, class: 'form-inline' do %>
    <label for="certificate_level">Show:</label>
    <%= select_tag :certificate_level, options_for_select({"Uncertified datasets" => :uncertified, "All datasets" => :all}, @certificate_level), name: "certificate_level" %>
    <button type="submit" class="btn">Filter</button>
  <% end %>
</div>

<div style="min-height:10em" id="certificates-wrapper" data-ongoing="<%= (@campaign.incomplete_count > 0 || @campaign.generated_count == 0) %>" data-refresh-url="<%= campaign_url(@campaign, page: params[:page]) %>">

  <table class='table table-striped'>
  <thead>
  <tr>
    <th>
      Published
    </th>
    <th>
      Source
    </th>
    <% if @certificate_level == "all" %>
      <th>
        Certificate
      </th>
    <% end %>
    <th class='omit-in-print'>
      User
    </th>
    <th>
      URLs valid
    </th>
    <th>
      Missing responses
    </th>
  </tr>
  </thead>
  <tbody>
    <%= render 'campaign_certificates' %>
  </tbody>
  </table>

  <div id="page-select" class='omit-in-print'>
    <%= paginate @generators %>
  </div>

</div>

<div class='omit-in-print'>
  <%= link_to 'Download CSV', format: "csv" %>
</div>

<%= content_for :foot_scripts do %>
  <%= javascript_include_tag 'campaign_progress' %>
<% end %>