<% content_for :header_title, "Campaign Details" %>
<h2><%= @campaign.name %></h2>
<p>Started at <%= @campaign.created_at.to_s(:db) %></p>
<ul>
  <li><%= pluralize @campaign.total_count, 'dataset' %> inspected</li>
  <li><%= pluralize @campaign.generated_count, 'dataset' %> added</li>
  <li><%= pluralize @campaign.published_count, 'certificate' %> published</li>
  <li><%= pluralize @campaign.duplicate_count, 'dataset' %> already existed</li>
</ul>

<%= button_to "Rerun campaign", campaign_rerun_path(@campaign), method: 'post' %>

<table class='table table-striped'>
  <tr>
    <th>
      Success
    </th>
    <th>
      Published
    </th>
    <th>
      Source
    </th>
    <th>
      Certificate
    </th>
    <th>
      Action
    </th>
    <th>
      User
    </th>
    <th>
      Missing responses
    </th>
  </tr>
  <% @generators.each do |generator| %>
    <tr>
      <td>
        <%= boolean_mark(generator.completed?) %>
      </td>
      <td>
        <%= boolean_mark(generator.published?) %>
      </td>
      <% if generator.completed? %>
        <td>
            <%= link_to generator.dataset.title, generator.dataset.documentation_url %>
        </td>
        <td>
            <% if generator.published? %>
            <%= link_to t("levels.#{generator.certificate.attained_level}.title"), dataset_certificate_path(generator.dataset, generator.certificate) %>
            <% end %>
        </td>
        <td>
            <% if can? :edit, generator.response_set %>
                <%= button_to "edit", continue_path(generator.response_set), method: 'post' %>
                <%= button_to "regenerate", dataset_regenerate_certificate_path(generator.dataset, jurisdiction: generator.survey.access_code), method: 'post' %>
            <% end %>
        </td>
        <td>
            <%= generator.dataset.user_email %>
        </td>
        <td>
          <%= missing_responses(generator, "<br />").html_safe %>
        </td>
      <% else %>
        <td colspan="4">Processing…</td>
      <% end %>
    </tr>
  <% end %>
</table>
<%= paginate @generators %>

<%= link_to 'Download CSV', format: "csv" %>
