<p><%= t('devise.mailer.reset_password_instructions.welcome', email: @resource.email) %></p>
<p><%= t('devise.mailer.reset_password_instructions.description') %></p>
<p>
  <%= link_to t('devise.mailer.reset_password_instructions.change_my_password'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token, locale: I18n.locale) %>
</p>
<p><%= t('devise.mailer.reset_password_instructions.did_not_request') %></p>
<p><%= t('devise.mailer.reset_password_instructions.your_password_will_not_change') %></p>
