!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ODI Open Data Certificate
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %nav
      #topbar.navbar.navbar-inverse.navbar-static-top
        .navbar-inner
          .container
            %a.brand{:href => "/"}
              = image_tag "logo.png"
            %ul.nav.pull-right
              =render 'shared/auth_bar'
            %span.label{:style => "margin-top: 10px;"} BETA
      %nav
      #mainnav.navbar.navbar-static-top
        .navbar-inner
          .container
            %ul.nav.pull-right
              = main_menu_navigation

    %header
      .container
        %h1= yield :header

    .container

      - flash.each do |type, value|
        .flash.alert{ :class => "alert-#{type}" }
          = value

      %section
        = yield

    %footer#footer
      .container
        %nav
          %ul.pull-right             
            %li
              = link_to t('footmenu.terms'), '/terms'

        %p
          %a{:href => "http://creativecommons.org/licenses/by-sa/2.0/uk/deed.en_GB", :rel => "license"}
            = image_tag 'logo_cc_80x15.png', :size => '80x15', :alt => 'Creative Commons Licence'
          %a{:href => "http://www.theodi.org"} Open Data Institute
        %p
          %a{:href => "http://www.openstreetmap.org/?lat=51.522205&lon=-0.08176500000001852&zoom=16&layers=T&mlat=51.52210&mlon=-0.08343"} 65 Clifton Street, London EC2A 4JE
          ·
          %a{:href => "mailto:info@theodi.org"} info@theodi.org
          ·
          Company
          %a{:href => "http://opencorporates.com/companies/gb/08030289"} 08030289
          ·
          VAT 143 7796 80
