!!!
<!--[if lte IE 8]>     <html class="lt9 no-js oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
%html{:class => 'no-js'}
  <!--<![endif]-->
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ODI Open Data Certificate
    = favicon_link_tag       "favicon.ico"
    = stylesheet_link_tag    "application", :media => "all"
    = begin airbrake_javascript_notifier rescue '' end
    = javascript_include_tag "application"
    = alternate_auto_discovery_link_tags
    = csrf_meta_tags
    - unless session[:surveyor_javascript] == 'enabled'
      :javascript
        $.get('#{has_js_path}');
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  %body{:class => body_class}
    = yield(:super_head)
    %nav
      #topbar.navbar.navbar-inverse.navbar-static-top
        .container
          .navbar-inner
            %a.brand{:href => "/"}
              - if content_for? :nav_brand
                = yield :nav_brand
              - else
                = image_tag "logo.png"
            %ul.nav.pull-right
              =render 'shared/auth_bar'
            %span.label{:style => "margin-top: 10px;"}
              =link_to 'BETA', contact_url
      #mainnav.navbar.navbar-static-top
        .container
          .navbar-inner
            %ul.nav.pull-right
              = main_menu_navigation
    .whiteout
      - if content_for?(:header)
        -# be sure to include flashes somewhere when overriding this
        = yield(:header)
      - else
        %header
          .container
            %h1= yield(:header_title)
        = render :partial => 'shared/flashes'

      #main{:class => main_container_class}
        = yield
        = render :partial => 'layouts/start_certificate_modal' unless user_signed_in?

    %footer#footer
      .container
        .span8.footer-content
          %h1
            %a{:href => "http://www.theodi.org"}= t('footmenu.odi_name')
          %p
            = link_to "#{t('footmenu.odi_name')}, 65 Clifton Street, London EC2A 4JE", 'http://www.theodi.org/contact'

          %p
            %a{:href => "mailto:info@theodi.org"} info@theodi.org
            ·
            = t('footmenu.company_title')
            %a{:href => "http://opencorporates.com/companies/gb/08030289"} 08030289
            ·
            %span= t('footmenu.vat_title')
            %span>
              143 7796 80
          %p.license
            %a{:href => "http://creativecommons.org/licenses/by-sa/2.0/uk/deed.en_GB", :rel => "license"}
              = image_tag 'logo_cc_80x15.png', :size => '80x15', :alt => t('footmenu.cc_title')

        .span4.footer-nav
          %nav
            %ul.pull-right
              %li
                = link_to t('footmenu.terms'), '/terms'
              %li
                = link_to t('footmenu.about'), '/about'
              %li
                = link_to t('footmenu.get_in_touch'), '/contact'

          %p.rss.pull-right
            - if content_for? :rss_feed
              %i.icon.icon-rss-sign
              %a{href: yield(:rss_feed)} Subscribe to the RSS feed

    = analytics_init if Rails.env.production?
    = yield(:foot_scripts)
