!!!
<!--[if lte IE 8]>     <html class="lt9 no-js oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
%html{:class => 'no-js'}
  <!--<![endif]-->
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ODI Open Data Certificate
    = favicon_link_tag       "favicon.ico"
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = alternate_auto_discovery_link_tags
    = csrf_meta_tags
    - unless session[:surveyor_javascript] == 'enabled'
      :javascript
        $.get('#{has_js_path}');
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    = yield(:meta)
  %body{:class => body_class}
    = yield(:super_head)
    %nav
      #topbar.navbar.navbar-inverse.navbar-static-top
        .container
          .navbar-inner
            %a.brand{:href => root_path}
              = image_tag "logo-home.png"
            %ul.nav.pull-right
              =render 'shared/auth_bar'
      #mainnav.navbar.navbar-static-top
        .container
          = render 'shared/menu_bar'
    .whiteout
      - if content_for?(:header)
        -# be sure to include flashes somewhere when overriding this
        = yield(:header)
      - else
        %header
          .container
            %h1= yield(:header_title)
        = render :partial => 'shared/flashes'

      #main{:class => main_container_class}
        = yield
        = render :partial => 'layouts/start_certificate_modal' unless user_signed_in?

    %footer#footer
      .container
        .span8.footer-content
          %h1
            %a{:href => "http://www.theodi.org"}= t('footmenu.odi_name')

          %p.license
            %a{:href => "http://creativecommons.org/licenses/by-sa/2.0/uk/deed.en_GB", :rel => "license"}
              = image_tag 'logo_cc_80x15.png', :size => '80x15', :alt => t('footmenu.cc_title')

        .span4.footer-nav
          %nav
            %ul.pull-right
              %li
                = link_to t('footmenu.terms'), terms_page_path
              %li
                = link_to t('footmenu.privacy'), privacy_policy_path
              %li
                = link_to t('footmenu.cookies'), cookie_policy_path
              %li
                = link_to t('footmenu.about'), about_page_path
              %li
                = link_to t('footmenu.get_in_touch'), contact_page_path

          %p.rss.pull-right
            - if content_for? :rss_feed
              %i.icon.icon-rss-sign
              %a{href: yield(:rss_feed)} Subscribe to the RSS feed

    = yield(:modal_content)
    = render :partial => 'layouts/analytics'
    = yield(:foot_scripts)

- flash.each do |name, msg|
  - if msg.class == Array
    - msg.each do |message|
      = content_tag :div, message, :id => "flash_#{name}"
  - else
    = content_tag :div, msg, :id => "flash_#{name}"
