!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ODI Open Data Certificate
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #alpha-banner.alert.alert-danger
      %p
        This is an
        %strong alpha version
        of the ODI's Open Data Certificate. Comments on both the content and the usability of the questionnaire are very welcome. Please add
        %a{:href => "https://github.com/theodi/open-data-certificate/issues"} issues on github
        or contact
        = succeed "." do
          %a{:href => "mailto:certificate@theodi.org"} certificate@theodi.org
    %header#header
      .container
        .branding
          %a#logo{:href => "http://theodi.org/", :rel => "home", :title => "Home"}
            %img.b_png{:alt => "Home", :height => "54", :src => "http://theodi.org/sites/default/files/logo.png", :width => "131"}/
          %hgroup#name-and-slogan
            %h1#site-name
              %a{:href => "http://theodi.org/", :rel => "home", :title => "Open Data Institute"}
                %img.b_png{:alt => "Open Data Institute", :height => "30", :src => "http://theodi.org/sites/default/files/logo_a.png", :width => "326"}/
            %h2#site-slogan Knowledge for everyone
        %nav
          #mainnav.navbar.navbar-inverse
            .navbar-inner
              %a.brand{:href => "#"} Open Data Certificate
              %ul.nav
                %li.active
                  %a{:href => "#questionnaire"} Questionnaire
                %li.divider-vertical
                %li{"data-bind" => "css: { disabled: certificateLevel() === 'none' }"}
                  %a{:href => "#certificate"} Certificate
                %li.divider-vertical
                %li{"data-bind" => "css: { disabled: certificateLevel() === 'none' || certificateLevel() === 'exemplar' }"}
                  %a{:href => "#improvements"} Improvements
                %li.divider-vertical
                %li
                  %a{:href => "index.html"} About
              %span.label.pull-right{:style => "margin-top: 10px;"} 0.4
    .container
      = yield